node_modules
dist
.next
.contentlayer
.content-collections
.DS_Store

.vercel
.env*
!.env.example

.turbo

# Want to ship defaults when folks copy the workspace
!/apps/studio/.env.local

next-env.d.ts
.env*.local
